@import 'tailwindcss';

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'NetflixSans-regular';
  src: url("/public/Font/NetflixSans-Regular.otf");
}

@font-face {
  font-family: 'NetflixSans-Medium';
  src: url("/public/Font/NetflixSans-Medium.otf");
}

@font-face {
  font-family: 'NetflixSans-bold';
  src: url("/public/Font/NetflixSans-Bold.otf");
}

@theme {
  /* Fonts */
  --font-netflix-regular: 'NetflixSans-regular', sans-serif; 
  --font-netflix-medium: 'NetflixSans-Medium', sans-serif; 
  --font-netflix-bold: 'NetflixSans-bold', sans-serif;

  /* Colors */
  --color-base-primary: #181819;
  --color-base-secondary: #1f1e24;
  --color-base-tertiary: #27272a;

  --color-accent-primary: #6556cd;
  --color-accent-hover: #5a4bc4;
}

@layer base {
  body {
    @apply bg-base-primary text-white font-netflix-regular;
  } 
  
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background-color: #27272a;
    color: #fff;
    cursor: pointer;
  }

  ::-webkit-scrollbar {
    width: 9px;
    height: 9px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: var(--color-base-secondary);
    border-radius: 10px;
    border: 1px solid transparent;
    background-clip: padding-box;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-accent-hover);
  }
}

@layer components {
  .select {
    @apply h-12 leading-none rounded-lg bg-zinc-800;
  }
}

@layer utilities {
  .hide-scrollbar {
    -ms-overflow-style: none;   
    scrollbar-width: none;      
  }

  .hide-scrollbar::-webkit-scrollbar {
    display: none;              
  }
}
